body{
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header-bar{
  background-color:#194d2f;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title{
 font-size: 20px;
 font-family: "Book Antiqua";
 padding-left: 40px;
}

.left-btn{
  padding-right: 10px;
}

.right-btn{
  padding-right: 40px;
}

.wrapper{
  min-height: 100vh;
  position: relative;
}

footer{
  margin-top: auto;
}

.footer-bar{
  background-color: black;
  height: 80px;
}

.foot-title{
  font-size: 15px;
  text-align: center;
  padding-top: 30px;
  font-family: Arial;
}

header a{
  text-decoration: none;
  color: white;
}

footer a{
  text-decoration: none;
  color: white;
}

/* ## userモデル */

.user-container{
  display: flex;
  justify-content: center;
}

.login-flash-message{
  color: red;
}

.new_user {
  background-color: seashell;
  max-width: 360px; /* フォームの最大幅を設定 */
  width: 100%; /* 幅を100%に設定して親要素に合わせる */
  margin: 100px auto; /* 上下のマージンを調整してセンタリング */
  padding: 20px; /* パディングを調整 */
  box-sizing: border-box;
  text-align: center; /* テキストを中央寄せ */
}

.input-form {
  border: 0;
  margin: 15px auto; /* 上下のマージンを調整して中央寄せ */
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  height: 50px;
  width: 100%; /* 幅を100%に設定して親要素に合わせる */
}

.login-btn {
  width: 200px;
  padding: 15px;
  border: 1px solid white;
  color: white;
  background-color: #194d2f;
  display: block;
  margin: 15px auto 30px;
}

.error-alert {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

.error-messages {
  margin: 10px 0; /* エラーメッセージの上下のマージン */
  font-size: 14px; /* エラーメッセージのフォントサイズ */
  text-align: center; /* エラーメッセージのテキストを中央寄せ */
}

.error-message{
  color: red;
}

/* ## 新規登録ページ */
.books-main{
  text-align: center;
}

form {
  width: 400px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.click-upload {
  margin-bottom: 20px;
}

.click-upload p {
  font-weight: bold;
}

.book-title,
.book-author,
.book-publisher,
.category,
.book-publisher {
  margin-bottom: 15px;
}

.book-title p,
.book-author p,
.book-publisher p,
.category p,
.book-publisher p {
  font-weight: bold;
}

.book-title input[type="text"],
.book-author input[type="text"],
.book-publisher input[type="text"],
.category select{
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.book-publisher textarea {
  width: 90%;
  height: 150px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


form input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #0056b3;
}