body{
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header-bar{
  background-color:#194d2f;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title{
 font-size: 20px;
 font-family: "Book Antiqua";
 padding-left: 40px;
}

.left-btn{
  padding-right: 10px;
}

.right-btn{
  padding-right: 40px;
}

.wrapper{
  min-height: 100vh;
  position: relative;
}

footer {
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  height: 80px;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Arial;
}

.foot-title{
  font-size: 15px;
  text-align: center;
  padding-top: 30px;
  font-family: Arial;
}

header a{
  text-decoration: none;
  color: white;
}

footer a{
  text-decoration: none;
  color: white;
}

/* ## userモデル */

.user-container{
  display: flex;
  justify-content: center;
}

.login-flash-message{
  color: red;
}

.new_user {
  background-color: seashell;
  max-width: 360px; /* フォームの最大幅を設定 */
  width: 100%; /* 幅を100%に設定して親要素に合わせる */
  margin: 100px auto; /* 上下のマージンを調整してセンタリング */
  padding: 20px; /* パディングを調整 */
  box-sizing: border-box;
  text-align: center; /* テキストを中央寄せ */
}

.input-form {
  border: 0;
  margin: 15px auto; /* 上下のマージンを調整して中央寄せ */
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  height: 50px;
  width: 100%; /* 幅を100%に設定して親要素に合わせる */
}

.login-btn {
  width: 200px;
  padding: 15px;
  border: 1px solid white;
  color: white;
  background-color: #194d2f;
  display: block;
  margin: 15px auto 30px;
}

.error-alert {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

.error-messages {
  margin: 10px 0; /* エラーメッセージの上下のマージン */
  font-size: 14px; /* エラーメッセージのフォントサイズ */
  text-align: center; /* エラーメッセージのテキストを中央寄せ */
}

.error-message{
  color: red;
}

/* ## 新規登録ページ */
.books-main{
  text-align: center;
}

form {
  width: 500px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.click-upload {
  margin-bottom: 20px;
}

.click-upload p {
  font-weight: bold;
}

.book-title,
.book-author,
.book-publisher,
.category,
.book-publisher {
  margin-bottom: 15px;
}

.book-title p,
.book-author p,
.book-publisher p,
.category p,
.book-publisher p {
  font-weight: bold;
}

.book-title input[type="text"],
.book-author input[type="text"],
.book-publisher input[type="text"],
.category select{
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.book-publisher textarea {
  width: 90%;
  height: 150px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


form input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #0056b3;
}

/*詳細ページ*/
.show-contents{
  display: flex;
  padding-top: 100px;
}

.show-book-img{
  height: 422px;
  width: 299px;
  padding-left: 300px;
}

.show-book-info{
  padding-left: 100px;
}

.show-book-title{
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 20px;
}

.show-book-category{
  margin-bottom: 10px;
}

.public{
  display: flex;
  padding-bottom: 50px;
}

.show-book-author{
  margin-right: 50px;
}

.show-book-explanation{
  width: 500px;
}

.sub-title{
  font-weight: bold;
  margin-right: 10px;
}

.btn{
  text-align: center;
  padding-top: 100px;
}

.edit-btn,
.delete-btn{
  text-decoration: none;
  padding: 20px 100px;
  margin-right: 50px;
}

.edit-btn{
  background-color: #007bff;
  color: #fff;
}

.delete-btn{
  background-color: darkgray;
  color: black;
}

.show-container{
  margin: 100px 200px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.comment{
  font-size: 20px;
}

.alert{
  font-size: 15px;
  color: red;
}

.review{
  background-color: white;
  margin: 20px 100px;
  padding: 10px;
  border-radius: 10px;
}

.comment-text,
.name,
.date{
  font-size: 14px;
  font-family: "Yu Gothic";
}

.name{
  text-align: right;
}

.comment-area{
  width: 90%;
  height: 150px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.show-submit-btn{
  margin: auto;
}

.form-container {
  text-align: center;
}

/*一覧表示ページ*/
.head-contents {
  position: relative;
}

.image-container {
  position: relative;
}

.head-image {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
  opacity: 70%;
}

.title-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black; 
  padding: 10px; 
}

.main-message {
  font-size: 50px; 
  font-weight: 600;
  font-family: "Book Antiqua";
}

.sub-message {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  font-family: 游明朝;
}

.main-contents{
  background-color: #f0f0f0;
}

.announcement{
  margin-top: 100px;
  margin-left: 100px;
  font-family: 游明朝;
}

.contents{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 100px ;
}

.book{
  width: calc((100% - 50px) / 4);
  background-color: white;
  border-radius: 5px;
  text-align: center;
  margin: 30px 0;
}

.book-img{
  height: 282px;
  width: 200px;
  object-fit: cover;
  margin-top: 20px;
}

.book-title{
  font-weight: bold;
}


.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; 
  margin-bottom: 30px;
}

.btn.post-btn {
  background-color: #007bff;
  color: white;
  padding: 20px 40px; 
  text-decoration: none;
  border-radius: 5px;
}

/*一覧表示ページ*/
.book-likes{
  text-decoration: none;
  color: black;
}

.book-likes-red{
  text-decoration: none;
  color: red;
}

/*検索フォーム*/
.search-input{
  height: 30px;
  width: 300px;
  margin: 0 30px;
  border-radius: 5px;
}
